:root {
    background-color: #bcbec1;
  }

.wrapper {
  width : 400px;
  margin: 0 auto;
}

.tittle {
  margin-bottom:10px;
  display: flex; 
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.search {
  margin-bottom:10px; 
  display: flex; 
  justify-content: center;
  height:25px;
  
}

.map {
  border : 1px solid black;
  padding:5px;
  margin-bottom:10px;
  justify-content:center;
  background: #F8F7F3;
}